.container__menu-title{
  color: white;
}

.container__menu-title > img{
  text-align: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.container__menu-title > hr{
  margin-top: 20px;
  margin-bottom: 5px;
}
