

.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li{
  margin-right: 20px;
  list-style: none;
}

li > a {
  color: rgb(74, 69, 69);
}

li > a:hover{
    background-color: rgb(238, 220, 229);
    border-radius: 5px;
}



