

.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li{
  margin-right: 20px;
  list-style: none;
}

li > a {
  color: rgb(74, 69, 69);
  background-color: rgb(237, 201, 219);
  border-radius: 5px;
}

li > a:hover{
  background-color: rgb(235, 165, 220);
}
