/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;

  color:rgb(73, 71, 71);
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}


body{
  background-image: url('assets/imgs/capaa.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-width: 200px;
  min-height: 150px;
  width: auto;
  height: auto;

}

